{# SMS Reminder Template #}
{# Variables: patient_name, date, time, practice_name, practice_phone #}

Praxis {{ practice_name }}: Terminerinnerung für {{ patient_name }}

Ihr Termin: {{ date }} um {{ time }} Uhr

Bitte bringen Sie Ihre Versichertenkarte mit.

Absage: {{ practice_phone }}
